.orgchart {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nodecontent {
  display: flex;
  background-color: black;
  border-radius: 20px;
  height: 75px;
  width: 300px;
  margin: 0 auto 2rem;
  position: relative;
}

.inner-node::after {
  display: block;
  content: "";
  position: absolute;
  height: 49px;
  width: 2px;
  background-color: grey;
  left: 50%;
  bottom: -65%;
}

.inner-node {
  margin: auto;
  background-image: url("../../assets/logos/medium_red_white.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  padding: 1rem;
  width: 80%;
  height: 80%;
}

.leaves {
  position: relative;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.leaf1::before {
  display: block;
  content: "";
  position: absolute;
  width: calc(100%);
  left: 50%;
  top: -11%;
  height: 25.5px;
  border-top: 2px grey solid;
  border-left: 2px grey solid;
  border-top-left-radius: 10px;
}

.leaf2::before {
  display: block;
  content: "";
  position: absolute;
  width: 160%;
  height: 2px;
  top: -11%;
  left: 50%;
  border-top: 2px grey solid;
  margin-left: -80%;
}

.leaf3::before {
  display: block;
  content: "";
  position: absolute;
  width: calc(100%);
  right: 50%;
  top: -11%;
  height: 25.5px;
  border-top: 2px grey solid;
  border-right: 2px grey solid;
  border-top-right-radius: 10px;
}

.leaf1,
.leaf2,
.leaf3 {
  background-color: black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  height: 250px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  position: relative;
  width: 250px;
  transition: 0.3s all ease;
}

.leaf-title {
  color: white;
  padding-top: 0.5rem;
  box-sizing: border-box;
  text-align: center;
  font-weight: 600;
}

.leaf-title::after {
  content: "";
  display: block;
  position: absolute;
  margin-top: 0.2rem;
  margin-left: 5%;
  width: 90%;
  background-color: grey;
  height: 1px;
}

.leaf-image1 {
  background-image: url("../../assets/images/new_white_data_science.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-origin: content-box;
  height: 100%;
  padding: 0.5rem 0;
}

.leaf1:hover {
  background-color: white;
  border: 1px black solid;
  cursor: pointer;
}

.leaf1:hover > .leaf-title {
  color: black;
}

.leaf1:hover > .leaf-image1 {
  background-image: url("../../assets/images/new_black_data_science.png");
}

.leaf-image2 {
  background-image: url("../../assets/images/new_white_IOT.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-origin: content-box;
  height: 80%;
  padding: 0.5rem 0;
}

.leaf-image3 {
  background-image: url("../../assets/images/new_white_storage.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-origin: content-box;
  height: 80%;
  margin-top: 0.3rem;
  padding: 1.3rem;
}

.leaf-subtitle {
  color: white;
  padding: 0.5rem 0 0.5rem;
  margin: auto;
  font-size: 0.9rem;
}

@media screen and (max-width: 960px) {
  .leaves {
    flex-direction: column;
  }
  .leaf1,
  .leaf2,
  .leaf3,
  .leaf1-expanded {
    margin: 1rem auto 2rem;
  }

  .inner-node::after {
    display: none;
  }

  .leaf1::before {
    top: -19.2%;
    left: 50%;
    height: 48px;
    border-bottom: 0;
    border-left: 2px grey solid;
    border-top: 0;
    border-top-left-radius: 0;
  }

  .leaf2::before {
    top: -19.2%;
    left: 130%;
    width: 0;
    height: 48px;
    border-bottom: 0;
    border-left: 2px grey solid;
    border-top: 0;
    border-top-left-radius: 0;
  }

  .leaf3::before {
    top: -19.2%;
    left: 50%;
    height: 48px;
    border-bottom: 0;
    border-left: 2px grey solid;
    border-top: 0;
    border-top-left-radius: 0;
    border-right: 0;
  }
}
