.publications {
  background-color: white; /*rgba(200, 234, 245, 0.6);*/
  width: 100%;
  top: 60px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: -40px;
  margin-bottom: 4rem;
  padding-top: 40px;
}

.conference-section {
  margin-bottom: -1rem;
}

.conference-badge {
  border: 1px #ff1a1a solid;
  border-radius: 5px;
  color: #ff1a1a;
  padding: 0.25rem 0.75rem;
  margin-right: 0.5rem;
  margin-bottom: -2rem;
}
.award-badge {
  border: 1px #00b300 solid;
  border-radius: 5px;
  color: #00b300;
  padding: 0.25rem 0.75rem;
  margin-right: 0.5rem;
  margin-bottom: -2rem;
}

.badge {
  border: 1px #168ce2 solid;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  padding: 0.25rem 0.75rem;
}

.widget {
  border: 1px #a6a6a6 solid;
  border-radius: 5px;
  background-color: #f1f4f7;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
}

.fa-star {
  margin-right: 5px;
}

.conference-end {
  font-size: 1.25rem;
  text-align: center;
}
