.card-container {
  align-items: stretch;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
  justify-content: space-around;
  width: 1000px;
}

.card-wrapper {
  border-radius: 15px;
  max-width: 250px;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.card-wrapper:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.25) !important;
  top: -10px;
}

.card-image {
  background-color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  margin: auto;
  padding: 1rem;
  width: 100%;
}

.card-content {
  color: black;
  text-align: center;
}

.card-body:hover {
  cursor: pointer;
}

.card-link {
  color: black !important;
  font-size: 1rem;
  font-weight: 500;
}
