.card-container {
  align-items: stretch;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1rem;
  justify-content: space-around;
  width: 1000px;
}

.card-wrapper {
  border: 2px #eaf2f2 solid;
  font-weight: 300;
  max-width: 275px;
  min-width: 275px;
  min-height: 360px;
  opacity: 0;
  position: relative;
  top: 0;
  transition: top ease 0.25s;
}

#item1 {
  animation: 0.5s ease 0s 1 loadAnimation;
  animation-fill-mode: forwards;
}

#item2 {
  animation: 0.5s ease 0.2s 1 loadAnimation;
  animation-fill-mode: forwards;
}

#item3 {
  animation: 0.5s ease 0.4s 1 loadAnimation;
  animation-fill-mode: forwards;
}

.card-wrapper:hover {
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.25) !important;
  top: -10px;
}

.card-wrapper:hover > .card-content > .card-title {
  color: #168ce2;
}

.card-image {
  background-color: white;
  object-fit: contain;
  margin: 1rem 0 0;
  height: 125px;
}

.card-content {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  color: black;
  text-align: center;
}

.card-body:hover {
  cursor: pointer;
}

.card-title {
  color: black;
  flex-basis: 40%;
  font-size: 1.2rem;
  font-weight: 700;
}

.card-title:hover {
  color: black;
}

.card-text {
  flex-basis: 60%;
}

@keyframes loadAnimation {
  0% {
    opacity: 0;
    transform: translateY(40%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
