.home {
  background-color: white; /*#C8EAF5;*/
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 60px;
  margin-top: -60px;
  margin-bottom: 2rem;
  min-height: 100vh;
}

.home-jumbotron {
  align-items: center;
  background-color: #272725;
  background-image: url("../../assets/images/resized_mcgill_logo.png");
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  background-blend-mode: multiply;
  background-origin: content-box;
  min-height: 44vh;
}

.home-jumbotron-title {
  font-weight: 600;
  color: white;
  margin: 2rem 0 1rem;
}

.home-jumbotron-description {
  color: white;
  font-size: 1.1rem;
  font-weight: 300;
  margin: auto;
  max-width: 900px;
  padding: 1rem 1rem 0;
}

.home-jumbotron-tagline {
  color: white;
  display: inline;
  font-size: 1.75rem;
  font-weight: 300;
}

.home-jumbotron-animation {
  display: inline;
  font-size: 1.75rem;
  font-weight: 700;
}

.home-title-wrapper {
  color: black;
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0 2rem 2rem;
  position: relative;
  text-align: center;
  width: 100%;
}
