.research {
  background-color: white; /*rgba(200, 234, 245, 0.6);*/
  width: 100%;
  top: 60px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: -40px;
  margin-bottom: 4rem;
  padding-top: 40px;
}

.content-sidebar {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 3rem;
}

.content-sidebar > *:nth-child(odd) {
  flex: 1 1 30%;
  letter-spacing: 1px;
  margin-top: -30px;
  min-width: 20ch;
  padding: 3rem 0.25rem 0;
}

.content-sidebar > *:nth-child(odd):before,
.content-sidebar > *:nth-child(even):before {
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  background: black;
  left: 0;
  bottom: 0;
}

.content-sidebar > *:nth-child(even) {
  flex: 1 1 70%;
  line-height: 1.75;
  padding: 2.5rem 0 1.5rem 5rem;
}

.content-sidebar > *:nth-child(1),
.content-sidebar > *:nth-child(2) {
  margin-top: 0;
  height: 70px;
}

.title {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 900;
  height: 100%;
  width: 100%;
  display: block;
  padding: 1rem 0;
}

.main-list {
  border: 1px red solid;
  list-style: none;
  margin: 1rem;
  width: 80%;
}

.list-element {
  width: 100%;
  position: relative;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 400;
}

.list-subtitle {
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 4rem;
  padding: 1rem;
}

.list-description {
  color: black;
  display: block;
  margin: 0 0 1rem;
  padding: 0 1rem 1rem;
  text-align: justify;
}

.list-direction {
  color: black;
  display: block;
  margin: 0 0 1rem;
  padding: 0 1rem 1rem;
  text-align: justify;
}

.list-keywords {
  border: 1px black solid;
  display: flex;
  gap: 1em;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.keyword {
  border: 1px #0099ff solid;
  border-radius: 10px;
  color: #0099ff;
  padding: 0.5em 0.75em;
}

@media screen and (max-width: 1100px) {
  .research-card-wrapper {
    align-items: center;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 0;
  }

  .content-sidebar > *:nth-child(odd):before {
    display: none;
  }

  .content-sidebar > *:nth-child(odd) {
    margin: 1rem 0;
    flex: 1 1 25%;
    min-width: 20ch;
    padding: 0 2rem;
  }

  .content-sidebar > *:nth-child(even) {
    flex: 1 1 70%;

    line-height: 1.75;
    padding: 0 1rem;
  }

  .list-description {
    border-top-right-radius: 0;
  }

  .list-direction {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    color: black;
    display: block;
    text-align: justify;
  }

  .research-card-image {
    display: none;
  }

  .list-description {
    margin-top: 0;
  }
}
