.NavbarItems {
  background: black;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  z-index: 1;
  position: sticky;
  top: 0;
}

.navbar-logo {
  background-image: url("../../assets/logos/cropped_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 180px;
  height: 45px;
  justify-self: start;
  margin-left: 3rem;
  cursor: pointer;
}

.fa-home {
  display: none;
}

.fa-users {
  display: none;
}

.fa-searchengin {
  display: none;
}

.fa-newspaper {
  display: none;
}

.fa-code {
  display: none;
}

.fa-paperclip {
  display: none;
}

.fa-chalkboard-teacher {
  display: none;
}

.fa-bars {
  color: white;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(8, auto);
  list-style-type: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
  margin-bottom: 0;
}

/* .--active {
  color: #168ce2 !important;
} */

.nav-item {
  color: white;
}

.nav-links {
  color: inherit;
  font-weight: 400;
  text-decoration: none;
  margin: 0 1rem;
  padding: 0.5rem 0;
  position: relative;
}

.nav-links:after {
  content: "";
  position: absolute;
  background-color: #168ce2;
  height: 1px;
  width: 0;
  left: 0;
  bottom: 0;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.nav-links:hover {
  color: #168ce2;
  transition: all 0.2s ease-out;
}

.nav-links:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}

.menu-icon {
  display: none;
}

.fa-plus-circle {
  display: none;
}

@media screen and (max-width: 1200px) {
  .NavbarItems {
    align-items: center;
    position: fixed;
    width: 100%;
    justify-content: left;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    height: 450px;
    gap: 0.3rem;
    left: -100%;
    opacity: 90%;
    position: absolute;
    top: 60px;
    transition: all 0.2s linear;
    width: 100%;
  }

  .nav-menu.active {
    background: black;
    top: 60px;
    left: 0;
    position: absolute;
    z-index: -3;
  }

  .nav-links {
    text-align: left;
    padding: 0.8rem 3rem;
    margin: 0;
    width: 100%;
    display: table;
  }
  .nav-links:hover {
    background-color: #1b2631;
    color: inherit;
    border-radius: 0;
    text-decoration: none;
  }
  .nav-links:after {
    display: none;
  }

  .navbar-logo {
    justify-self: left;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 40%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-bars {
    display: block;
    margin-top: 13%;
  }

  .fa-home {
    display: inline;
    padding-right: 0.5rem;
  }

  .fa-users {
    display: inline;
    padding-right: 0.3rem;
  }

  .fa-searchengin {
    display: inline;
    padding-right: 0.5rem;
  }

  .fa-paperclip {
    display: inline;
    padding-right: 0.5rem;
  }

  .fa-code {
    display: inline;
    padding-right: 0.3rem;
  }

  .fa-chalkboard-teacher {
    display: inline;
    padding-right: 0.5rem;
  }

  .fa-newspaper {
    display: inline;
    padding-right: 0.5rem;
  }

  .fa-plus-circle {
    display: inline;
    padding-right: 0.5rem;
  }
}
